.Element {
    width: 25vw;
    float: left;
    text-align: left;
    margin: 2.5vh 0;
}

.title {
    padding-left: 3%;
}

.text, .textarea {
    text-align: center;
    background-color: rgb(236, 236, 236);
    width: 90%;
    padding: 3%;
    margin: auto;
    border: 2px solid rgb(184, 184, 184);
    overflow: auto;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 1.5vh;
}

.textarea {
    background-color: rgba(238, 238, 238, 0.425);
    resize: none;
}