.blueBtn, .greenBtn {
    padding: 0.5vh;
    color: white;
    font-size: 1em;
    margin: 0.5%;
    width: 10vw;
    font-weight: bold;
}

.blueBtn:hover, .greenBtn:hover {
    text-decoration: underline;
    cursor: pointer;
}

.blueBtn {
    background-color: rgb(0, 179, 211);
    border: 2px solid rgb(1, 158, 185);
    float: left;
}

.blueBtn:hover {
    background-color: rgb(0, 217, 255);
}

.greenBtn {
    float: right;
    background-color: rgb(0, 199, 50);
    border: 2px solid rgb(0, 122, 31);
}

.greenBtn:hover {
    background-color: rgb(2, 235, 60);
}

.blueBtn:disabled, .greenBtn:disabled {
    background-color: rgb(150, 150, 150);
    border: 2px solid rgb(100, 100, 100);
    pointer-events: none;
}